<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<footer>
    <div class="container">
        <div class="row">

            <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
                <ul class="adress">
                    <span>Adresse</span>
                    <li>
                        <p>Lorem ipsum dolor sit amet, vero omnis vocibus</p>
                    </li>
                    <li>
                        <p>+90 1234 56789</p>
                    </li>
                    <li>
                        <p>association.hgpalumni@gmail.com</p>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <ul class="contact">
                    <span>Contact</span>
                    <li>
                        <a href="{{ path('homepage') }}">Accueil</a>
                    </li>
                    <li>
                        <a href="{{ path('about') }}">A propos</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <ul class="social">
                    <span>Social</span>
                    <li>
                        <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-github fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-tumblr fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
                    </li>
                </ul>
            </div>


        </div>
    </div>
</footer>