body {
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex: 1;
    margin: 5px;
}


footer{
    background-color: #33383c;
    padding:30px 0px;
}

footer ul li{
    padding:5px 0px;
}

.adress span , .contact span , .social span{
    color: #FFF;
    font-weight: 800;
    padding-bottom: 5px;
    margin-bottom: 10px;
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
}

.adress li p , .contact li a , .social li a{
    color:#FFF;
    letter-spacing: 2px;
    text-decoration:none;
    font-size:15px;
}

.social li{
    float:left;
}

.adress , .contact , .social {
    list-style: none;
}

.fa{
    color:#9c9c9c;
    margin-right: 15px;
    font-size:14px;
}

/*
******************************************************************************
BREADCRUMB
*******************************************************************************
 */

.breadcrumb {
    color:#888;
    font-size:13px;
    text-shadow:none;
}
.portlet, .page-bar {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border: 1px solid #dae2ea;
}

/*.page-breadcrumb{*/
    /*display:inline-block;float:left;padding:10px 6px;margin:0;list-style:none*/
/*}*/
.page-bar .page-breadcrumb>li{
    display:inline-block
}
/*.ie8 .page-bar .page-breadcrumb>li{*/
     /*margin-right:1px*/
 /*}*/
.page-bar .page-breadcrumb>li>a,.page-bar .page-breadcrumb>li>span{

}
/*.page-bar .page-breadcrumb>li>i{*/
    /*color:#aaa;font-size:14px;text-shadow:none*/
/*}*/
/*.page-bar .page-breadcrumb>li>i[class*=icon-],.page-bar .page-breadcrumb>li>i[class^=icon-]{*/
    /*color:#8c8c8c*/
/*}*/